footer.clear.body-row.page-footer
    div.body-row-content.flex-ct
        div.footer-section
            - var targetUrl = url.parse(user ? routesMap.logout : routesMap.login, true);
            - targetUrl.query = targetUrl.query || {};
            - targetUrl.query.next = reqUrl;
            if user
                span #{getText('You are logged in as')} #{user.userName} (#{user.role})
                    a.login-link(href=url.format(targetUrl))
                        i.fa.fa-sign-out._margin-5._right(aria-hidden="true")
                        span #{getText('Logout')}
                if user.role === 'admin'
                    a.login-link(href=routesMap.admin)
                        i.fa.fa-cogs._margin-5._right(aria-hidden="true")
                        span #{getText('Admin app')}
            else
                a.login-link(href=url.format(targetUrl))
                    i.fa.fa-sign-in._margin-5._right(aria-hidden="true")
                    span #{getText('Login')}
