if pagination
    .pagination-block(role="navigation")
        div.pagination-block__previous(style={visibility: pagination.previous ? 'visible' : 'hidden'})
            a(href=pagination.previous, title=getText('Here'))
                i.fa.fa-arrow-left.fa-fw
                span #{getText('Previous page')}
        div.pagination-block__next(style={visibility: pagination.next ? 'visible' : 'hidden'})
            a(href=pagination.next, title=getText('There'))
                span #{getText('Next page')}
                i.fa.fa-arrow-right.fa-fw