doctype html
html(lang=language)
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(charset='UTF-8')
        title= getText("Login")
        link(rel="stylesheet", href='/assets/bootstrap.css')
body
    .container
        .row
            .col-md-6.col-md-offset-3.col-xs-12
                .panel.panel-primary
                    .panel-heading #{getText("Login")}
                    .panel-body
                        form#login-form.form-horizontal(method="post", autocomplete="on")
                            .form-group
                                label.col-xs-3.control-label(for="login-username") #{getText("Username")}:
                                .col-xs-9
                                    input#login-username.form-control(autocomplete="on", type="text", name="username", required, placeholder=getText("Enter username"))
                            .form-group
                                label.col-xs-3.control-label(for="login-password") #{getText("Password")}:
                                .col-xs-9
                                    input#login-password.form-control(autocomplete="on", type="password", name="password", required, placeholder=getText("Enter password"))
                            if (errMessage)
                                .row
                                    .col-xs-offset-3.col-xs-9
                                        .alert.alert-danger(role="alert") #{errMessage}
                    .panel-footer
                        .row
                            .col-xs-12.text-right
                                button.btn.btn-primary(type="submit", value="Log In", form="login-form") #{getText("Login")}

