extends ../layout

block content
    div()
        div.main-wrapper.container-fluid
            include main-menu
            div#app-view
                include posts-pagination-tpl
                div#posts-view-wrapper(data-bind="template: {name: 'post-tpl', foreach: posts, as: 'post'}")
                    each post in postList
                        include post-tpl
                include posts-pagination-tpl
            include footer
block specific
    script.
        window.jb_deviceMobile = #{deviceMobile};
        window.jb_googleAnalyticsId = '#{gaIdentificator}';
    script#post-tpl(type="text/html")
        include post-tpl
    script#post-tag-tpl(type="text/html")
        include post-tag-tpl
    if developmentMode
        script(src='/js/app-public.js')
    else
        script(src='/js/app-public.min.js')
block meta
    meta(property="og:title", content=metaTitle)
    meta(property="og:type", content="article")
    meta(property="og:image" content=metaImage)
    meta(property="og:url", content=pageUrl)
    meta(property="og:site_name", content=metaTitle)
    meta(property="og:description", content=metaDescription)
