// div(ng-controller='mainMenuController')
header
    div.row
        div.col-lg-12.col-md-12.col-sm-12
            div.main-image(style='background-image: url(/images/cropped-venezia_980x250_11.jpg)')
    div.row
        div.col-lg-12.col-md-12.col-sm-12
            h1 Пока мы строим другие планы
    div.row
        div.col-lg-12.col-md-12.col-sm-12
            nav
                ul.list-unstyled.list-inline
                    each linkItem in navlinksMain
                        li
                            a.btn.btn-link(href=linkItem.url, class=linkItem.disabled?'disabled':'', target=linkItem.newWindow?'_blank':'')
                                span.glyphicon(class=linkItem.icon)
                                b!= linkItem.text