ul.pager
    li.previous(style=pager.urlNewer?'':'display: none', data-bind="visible: pager.urlNewer")
        a(href=pager.urlNewer, data-bind="attr: {href: pager.urlNewer}", data-route) &larr; #{getText('TO_NEWER')}
    li.next(style=pager.urlOlder?'':'display: none', data-bind="visible: pager.urlOlder")
        a(href=pager.urlOlder, data-bind="attr: {href: pager.UrlOlder}", data-route) #{getText('TO_OLDER')} &rarr;
